
production:
  adapter: mysql2
  database: {{ redmine_database_name }}
  host: {{ redmine_database_host }}
  port: {{ redmine_database_port }}
  username: {{ redmine_database_user }}
  password: {{ redmine_database_password }}
  encoding: {{ redmine_database_encoding }}

